<div class="d-flex align-items-center justify-content-center vh-100" style="background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;">
    <div class="offset-md-2 col-lg-6 col-md-8 offset-lg-3 offset-md-2 bg-white p-4">
        <div class="panel border">
            <div class="panel-heading text-center">
                <fa-icon [icon]="faLock" class="fa-4x"></fa-icon>
            </div>
            <div class="text-center">
                <h2 class="mb-4">Forgot Password</h2>
            </div>
            <p>Please enter your registered email where<br> we will send you the reset password link</p>
            <form action="" method="">
                <div class="form-group">
                    <input type="email" id="email" placeholder="Email Address" class="form-control" name="" />
                </div>
                <input type="submit" class="btn btn-primary w-100" value="Reset Password Link" name="">
            </form>
        </div>
        <div class="card-footer text-right mt-4">
            <small>Ohh I remember <a routerLink="../login">Back to Login</a></small>
        </div>
    </div>
</div>
