body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #about {
    background-color: #f4f4f4;
    padding: 50px ;
  }
  
  .container {
    max-width: 800px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
 h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color:rgb(112, 88, 189);
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #3b406a;
    color: #fff;
    padding: 10px;
    text-align: center;
  }