<div class="admin-navbar">
    <div class="navbar navbar-light bg-primary" >
        <div class="container-fluid">
            <h1 style="color:aliceblue;"><b>Admin</b></h1>
            <div class="d-flex">
                <button (click)="clickAddMusic()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" style="background-color:rgb(100, 221, 227);color:black;">Add New Song</button>
            </div>
        </div>
    </div>
</div>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name Of Song</th>
            <th>Author</th>
            <th>Link</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of adminData">
            <td>{{row.id}}</td>
            <td>{{row.MusicName}}</td>
            <td>{{row.AuthorName}}</td>
            <td><a href="{{row.url}}" target="_blank" style="color:blue">{{row.AuthorName}}  <b>^^{{row.MusicName}}^^</b></a></td>
            <td>
                <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteMusic(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="aria-h">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModelLabel">Admin details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Song Name</label>
                      <input type="text" formControlName="MusicName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Author</label>
                      <input type="text" formControlName="AuthorName" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Link</label>
                        <input type="url" formControlName="url" class="form-control" id="exampleInputPassword1">
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)="postAdminDetails()" class="btn btn-primary" >Add</button>
                <button type="button" *ngIf="showUpdate" (click)="updatetAdminDetails()" class="btn btn-primary" >Update</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>